In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import requests
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

## NASA Mars News

In [2]:
# Referenced Day 2 Ins-Splinter
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 103.0.5060
Get LATEST chromedriver version for 103.0.5060 google-chrome
There is no [win32] chromedriver for browser 103.0.5060 in cache
Trying to download new driver from https://chromedriver.storage.googleapis.com/103.0.5060.53/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\Christina Chau\.wdm\drivers\chromedriver\win32\103.0.5060.53]

In [3]:
# Visit Nasa news url
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
news_title = soup.find('div', class_='content_title')

In [6]:
news_p = soup.find('div', class_='article_teaser_body')

In [7]:
print(news_title.text)
print('------')
print(news_p.text)

NASA's Perseverance Rover Is Midway to Mars
------
Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination.

In [8]:
browser.quit()

## JPL Mars Space Images - Featured Image

In [9]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 103.0.5060
Get LATEST chromedriver version for 103.0.5060 google-chrome
Driver [C:\Users\Christina Chau\.wdm\drivers\chromedriver\win32\103.0.5060.53\chromedriver.exe] found in cache

In [10]:
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [11]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [12]:
# Referenced: https://www.geeksforgeeks.org/image-scraping-with-python/
for item in soup.find_all('img', class_='thumbimg'):
    print(url + requests.utils.quote(item['src']))

https://spaceimages-mars.com/image/mars/Icaria%20Fossae7.jpg
https://spaceimages-mars.com/image/mars/Proctor%20Crater%20Dunes%207.jpg
https://spaceimages-mars.com/image/mars/Icaria%20Fossae7.jpg
https://spaceimages-mars.com/image/mars/Proctor%20Crater%20Dunes%207.jpg
https://spaceimages-mars.com/image/mars/Proctor%20Crater%20Dunes%207.jpg
https://spaceimages-mars.com/image/mars/Icaria%20Fossae7.jpg
https://spaceimages-mars.com/image/mars/Icaria%20Fossae.jpg
https://spaceimages-mars.com/image/mars/Ariadnes%20Colles4.jpg
https://spaceimages-mars.com/image/mars/Niger%20Vallis.jpg
https://spaceimages-mars.com/image/mars/Proctor%20Crater%20Dunes.jpg
https://spaceimages-mars.com/image/mars/Niger%20Vallis.jpg
https://spaceimages-mars.com/image/mars/Daedalia%20Planum.jpg
https://spaceimages-mars.com/image/mars/Sirenum%20Fossae.jpg
https://spaceimages-mars.com/image/mars/Ariadnes%20Colles4.jpg
https://spaceimages-mars.com/image/mars/South%20Polar%20Cap.jpg
https://spaceimages-mars.com/image/mars/Daedalia%20Planum.jpg
https://spaceimages-mars.com/image/mars/Ariadnes%20Colles3.jpg
https://spaceimages-mars.com/image/mars/Atlantis%20Chaos.jpg
https://spaceimages-mars.com/image/mars/Daedalia%20Planum.jpg
https://spaceimages-mars.com/image/mars/Icaria%20Fossae.jpg
https://spaceimages-mars.com/image/mars/Niger%20Vallis.jpg
https://spaceimages-mars.com/image/mars/Proctor%20Crater%20Dunes.jpg
https://spaceimages-mars.com/image/mars/Reull%20Vallis.jpg
https://spaceimages-mars.com/image/mars/Ariadnes%20Colles3.jpg
https://spaceimages-mars.com/image/mars/Sirenum%20Fossae.jpg
https://spaceimages-mars.com/image/mars/South%20Polar%20Cap.jpg
https://spaceimages-mars.com/image/mars/Niger%20Vallis.jpg
https://spaceimages-mars.com/image/mars/Daedalia%20Planum.jpg
https://spaceimages-mars.com/image/mars/Icaria%20Fossae.jpg
https://spaceimages-mars.com/image/mars/Ariadnes%20Colles4.jpg
https://spaceimages-mars.com/image/mars/South%20Polar%20Cap.jpg
https://spaceimages-mars.com/image/mars/Daedalia%20Planum.jpg

In [13]:
browser.quit()

## Mars Facts

In [14]:
url = 'https://galaxyfacts-mars.com/'

In [15]:
# Use Pandas to scrape tabular data from url
tables = pd.read_html(url)

In [16]:
type(tables)

list

In [17]:
tables[0]

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [18]:
#Display df
# Referenced: https://stackoverflow.com/questions/61736164/how-can-i-set-second-row-as-a-name-of-columns-in-dataframe
mars_diagram_df = tables[0]
mars_diagram_df.columns = mars_diagram_df.iloc[0]
mars_diagram_df = mars_diagram_df.iloc[1:].reset_index(drop=True)
mars_diagram_df.set_index("Mars - Earth Comparison", inplace=True)
mars_diagram_df

0                                   Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [19]:
tables[1]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [20]:
#Display df
mars_planet_profile_df = tables[1]

# Rename df/set_index
mars_planet_profile_df.columns = ["Description" , "Information"]
mars_planet_profile_df.set_index("Description", inplace=True)

mars_planet_profile_df

                                        Information
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

## Mars Hemispheres

In [21]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 103.0.5060
Get LATEST chromedriver version for 103.0.5060 google-chrome
Driver [C:\Users\Christina Chau\.wdm\drivers\chromedriver\win32\103.0.5060.53\chromedriver.exe] found in cache

In [22]:
url = 'https://marshemispheres.com/'
browser.visit(url)

In [23]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [24]:
# image urls
for item in soup.find_all('img', class_='thumb'):
    img = url + item['src']
    print(img)

https://marshemispheres.com/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png
https://marshemispheres.com/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png
https://marshemispheres.com/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png
https://marshemispheres.com/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png

In [25]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": {img}},
    {"title": "Cerberus Hemisphere", "img_url": {img}},
    {"title": "Schiaparelli Hemisphere", "img_url": {img}},
    {"title": "Syrtis Major Hemisphere", "img_url": {img}}
]

In [26]:
hemisphere_image_urls

[{'title': 'Valles Marineris Hemisphere',
  'img_url': {'https://marshemispheres.com/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png'}},
 {'title': 'Cerberus Hemisphere',
  'img_url': {'https://marshemispheres.com/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png'}},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': {'https://marshemispheres.com/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png'}},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': {'https://marshemispheres.com/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png'}}]

In [27]:
browser.quit()